Body{
    padding: 30px;
    background-color: ivory;
}

img {
    width: 120px;
}

header{
    text-align: center;
}

header>h1 {
display: inline-block;
 margin-bottom: 0px;
}

header>h2 {
text-align: right;
margin-right: 500px;
margin-top: 0px;
}

nav{
    text-align: left;
    text-size-adjust: 30px;
    background-color: rgb(255, 164, 202);
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-size-adjust: 30px;
    padding: 30px;
}

nav>ul>li{
    
    display: inline-block;
    border-radius: 30px;
}

body{
    margin: 200 px;
}

#perfil{
    display:inline-block;
    padding-bottom: 60px;
}

#TomatePerfil{
    float: left;
    padding-right: 30px;
   
}

#Stacy{
    width: 40px;
    float: left;
    padding-right: 10px;
}

p{
    
}